---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body style="padding-top: 0; margin-top: 0;">

		{% include header.html %}

		<div style="width: 100%; margin: 0; padding: 40px 0 0 0; background: #fff;">
			<img src="{{ "/img/projects/tithy.png" | prepend: site.baseurl }}" style="width: 100%; height: auto; max-height: 400px; object-fit: cover; display: block; margin: 0;">
		</div>

		<div id="content" style="padding-top: 40px;">
			{{ content }}
		</div>

		{% include footer.html %}

	</body>

</html>
